* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  font-family: Arial, sans-serif;
}

header {
  text-align: center;
  padding: 20px 0;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 200px;
  
}

nav a {
  text-decoration: none;
  color: #00ff00;
  font-size: 38px;

}

nav a:hover {
  color: white;
}


.base-1{
display: flex;
justify-content:center; 
margin-top: 40px;
}

#con-base-1{
width: 1560px;
}
.ima-m{
width: 300px;
background-color: #e9851300;
border-radius: 1000px;
margin-top: 50px;
}
.paragrafo{
display: flex;
width: 1200px auto;
}
.ima-m{
display: flex; }



h1 {
  color: white;
  margin-bottom: 15px;
}

h2{
    color: white;
}

p{
color:white;

}



.grim {
margin-top:40px ;
color: #00ff00;
 
}
p {
font-size: 30px;
}


#nome{
 font-size: 100px;
color: #00ff00;
}
.habilidade{
  display: flex;
  justify-content: center;
  height: 600px;
  background-color: aliceblue;
  width: 300px;
}
